<html>
    <head>
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body onload="reloads()">
        <div class="container mt-5 text-center">
            <div class="row">
                <div class="col-8">
                    <h4>Wining status</h4>
                    <%if(!users){%>
                        <h6>{{message}}</h6> 

                    <%}%>
                    <%if(users){%>
                        <h6>Winners of the competition</h6> 
                    <%}%>
                </div>
                 <div class="col-lg-4 col-12">
                     <%if(count_down){%>
                        <table class="table">
                            <thead>
                            <tr>
                            <th>Day(s)</th>
                            <th>Hour(s)</th>
                            <th>Minute(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="day"><%=count_down.days%> </td>
                                    <td id="hour"><%=count_down.hrs%> </td>
                                    <td id="minute"> <%=count_down.min%> </td>

                                    
                                </tr>
                            </tbody>
                            </table>
                            <%}%>

                <%if (!users){%>
                    <form  action="/admin"  method="POST">
                        <label>Open new competition now </label><br>
                        <!-- <input type="date"  name="start" id="start"><br> -->
                        <label>Ending : </label>
                        <input type="date" name="end" id="end"><br>
                        <button type="submit" class="btn btn-primary btn-block col-lg-4 col-md-4 col-2 mx-auto">
                            Start
                        </button>
                    </form>
                <%}%>
            </div>

            </div>
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="container bg-light text-dark">
            <table class="table table-striped">
            <thead>
            <tr>
            <th>#N</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Mobile</th>
            <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <%if (users){%>
            <%users.forEach(function(user,index) {%>
            <tr>
            <td><%=index+1%></td>
            <td><%=user.firstname%></td>
            <td><%=user.lastname%></td>
            <td><%=user.mobile%></td>
            <td><%=user.count%></td>
            </tr>
            <%});%>
            <%}%>

            </tbody>
            </table>
            <div>
             </div>
            </div>
            </div>


        </div>
        
    </body>
    <script>
      function  reloads(param){
           let days = document.getElementById("day").innerHTML
           let hours = document.getElementById("hour").innerHTML
           let minutes = document.getElementById("minute").innerHTML

           var set;
           if (days == 0 && hours == 00 && minutes == 00) {
               clearTimeout(set)
           } else {
               set = setTimeout(() => {
                   location.reload()
               }, 60000);
           }
        }
    </script>
</html>